:root{
    --fundo-menu: #D3E4CD;
    --azul-celeste: #87CEEB;
    --laranja-vivo: #FFA500;
    --verde-limao: #9ACD32;
    --rosa-claro: #FFC0CB;
    --amrelo-pastel: #FFFF99;
    --lilas: #C8A2C8;
    --rox0:#554994;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    padding: 1em 1.5em;
    background-color: var(--azul-celeste);
}
.logo{
    width: 75px;
    height: 75px;
}
.container__menu{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-right: 3em;
}
.container__menu_lista{
    list-style: none;
    text-decoration: none;
}

.boasvindas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    background-color: var(--amrelo-pastel);
    color: var(--rox0);
    gap: 1em;
}
.nossalista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    background-color: var(--azul-celeste);
    color: var(--rox0);
    gap: 1em;
}
ul{
    padding: 0 2em;
    columns: 2;
}
.link{
    text-decoration: none;
}

.lista-lista{
    list-style:decimal;
}
.playlist{
    background-color: var(--amrelo-pastel);
    padding: 2em;
}
.rodapé{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:3em;
    background-color: var(--azul-celeste);
    color: var(--rox0);
}