:root{
    --fundo-menu: #D3E4CD;
    --azul-celeste: #87CEEB;
    --laranja-vivo: #FFA500;
    --verde-limao: #9ACD32;
    --rosa-claro: #FFC0CB;
    --amrelo-pastel: #FFFF99;
    --lilas: #C8A2C8;
}